	/* 
	 * H.R. Yasith wimukthi
 	 * IT19966922
	*/ 

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #777;
    background-image: linear-gradient(to right bottom,#FF3366,#BA265D);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #f4f2f2;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    min-height: 50rem;
}

.header{
    height: 6rem;
    background-color: #FFF;
    border-bottom:#f4f2f2 ;
}

.content{
    display: flex;
}

.sidebar{
    background-color: #333;
    flex: 0 0 19%;
}

.main-content{
    background-color: #fff;
    flex: 1; /* OCCUPY ALL THE AVAILABLE SPACE*/
    height: 80rem;
}

/*---------------------------------------------
            SIDE NAVIGATION BAR
----------------------------------------------*/
.side-nav{
    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;
}

.side-nav__link:link,
.side-nav__link:visited{
    text-transform: uppercase;
    text-decoration: none;
    color: #faf9f9;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 100;
}

/*---------------------------------------------
        SIDE NAVIGATION BAR HOVER EFFECT
----------------------------------------------*/
.side-nav__item{
    position: relative;
}

.side-nav__item:not(:last-child){
    margin-bottom: 0.5rem;
}

.side-nav__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform 0.2s,
                width 0.4s cubic-bezier(1,0,0,1) 0.2s;
}

.side-nav__item:hover::before,
.active::before{
    transform: scaleY(1);
    width: 100%;
}


/*---------------------------------------------
                    GALLERY
----------------------------------------------*/

.gallery{
    display: flex;
}

.gallery-image{
    width: 100%;
    display: block;
    height: 20rem;
}

.logout-btn{
    margin: 20px;
    transform: scale(1.5);
}

.details-box{
    margin: 10px;
    width: 50vw;
}

/*---------------------------------------------
                   LOGIN
----------------------------------------------*/

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width:600px;
    height: 320px;
    border: 1px solid #9C9C9C;
   background-color: #EAEAEA;
   box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
   
  }
  
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


/*---------------------------------------------
            UPDATE RESERVATION FORM
----------------------------------------------*/
.update-reservation{
    font-size: 16px;
    margin: 50px;
    color: black;
}

.form-check-label{
    margin-left: 15px;
    cursor: pointer;
}

#body-type{
    margin-left: 15px;
}

.details{
    margin: 50px;
}


